spring:
  profiles:
    active: dev
  boot:
    admin:
      client:
        enabled: false

server:
  error:
    whitelabel:
      enabled: false
    include-exception: false
    include-stacktrace: never
    include-message: never
    include-binding-errors: never

app:
  # CORS FILTERS
  web:
    cors:
      origins:
        - "*"
      headers:
        - "Content-Type"
        - "Content-Disposition"
        - "Content-Length"
        - "X-Requested-With"